<div class="container mt-5">
  <h2 class="mb-4">Profiles List</h2>
  <button type="button" class="btn btn-primary mb-3" (click)="goToDashboard()">Go to Dashboard</button>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (profile of profiles; track profile) {
        <tr>
          <td>{{ profile.id }}</td>
          <td>{{ profile.name }}</td>
          <td>{{ profile.description }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="edit(profile.id)">Update</button>&nbsp;
            <button class="btn btn-danger btn-sm" (click)="remove(profile.id)">Remove</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <button class="btn btn-success mb-3" (click)="new()">Create New Profile</button>&nbsp;
  <button class="btn btn-secondary mb-3" (click)="goBack()">Back</button>
</div>

<!-- Confirmation Modal -->
<confirmation-modal
  (deleteConfirmed)="deleteProfile()"
  [title]="'Confirm Deletion'"
  [content]="'Do you really want to delete this profile?'"
  [yesButtonText]="'Delete'"
  [noButtonText]="'Cancel'"
>
</confirmation-modal>
