<div class="container mt-5">
  <h2 class="mb-4">User Registration</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="user.name"
        required
      />
    </div><br />

    <div class="form-group">
      <label for="email">Email</label>
      <input
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>
    <br />

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        maxlength="8"
        minlength="8"
        [(ngModel)]="user.password"
        required
      />
    </div><br />

    <button type="submit" class="btn btn-primary mb-3" [disabled]="!userForm.form.valid">
      Register
    </button>&nbsp;

    <button type="button" class="btn btn-secondary mb-3" (click)="goBack()">Back</button>
  </form>
</div>
