<div class="container mt-4">
  <h1>Welcome to the system for user and profile management!</h1><br />
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Manage Users</h5>
          <p class="card-text">Access and manage user information.</p>
          <button routerLink="/user/list" class="btn btn-primary">Go to Users</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Manage Profiles</h5>
          <p class="card-text">Access and manage user profiles.</p>
          <button [disabled]="!isUserAdmin()" routerLink="/profile/list" class="btn btn-success">Go to Profiles</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

