<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">{{ title }}</h5>
      </div>
      <div class="modal-body">
        {{ content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ noButtonText }}</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">{{ yesButtonText }}</button>
      </div>
    </div>
  </div>
</div>
